@import url('https://fonts.googleapis.com/css?family=Dosis|Inconsolata&display=swap');

h4 {
  font-size: 1em;
  display: flex;
  justify-content: center;
  margin: 1em;
}

html {
  font-family: "Inconsolata";
  display: flex;
  justify-content: center;
}

header {
  flex-direction: column;
}

a {
  color: black;
}

.button {
  padding: 0.5em;
  margin: 0.5em auto;
  width: 15em;
  background: #d9d9d9;
  color: #444;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  display: flex;
  justify-content: center;
}

.fields{
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.section {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.entry {
  display: flex;
  justify-content: auto;
  margin: 0.25em 0;
}

.bar {
  background-color: #ada;
  display: block;
  text-align: center;
  padding: 0.1em;
  min-width: 100%;
}

.plot {
  margin-bottom: 2em;
  display: none;
}

.center {
  display: flex;
  justify-content: center;
}

.back {
  font-family: Dosis;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  color: black;
}

.backcenter {
  clear: both;
  padding: 0.5em;
  text-align: center;
  margin: auto;
  font-family: Dosis;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  color: black;
}

.no-underline {
  text-decoration: none;
}

.margins {
  display: block;
  margin: auto;
  max-width: 50em;
}

@media only screen and (max-width: 37.5em) {
  .fields {
    flex-direction: column;
  }
}